.accordion {
    &__content {
        transition: height 0.3s ease;
        overflow: hidden;

        &[data-collapsed="false"] {
            height: auto;
        }

        &[data-collapsed="true"] {
            height: 0;
        }
    }
}