.masthead {

}

.masthead__nav {
    .navigation__hasChildren {
        >.submenu {
            height: 0;
            overflow: hidden;
        }
    }
}

.navigation__hasChildren {
    &.open {
        >.submenu {
            height: auto;
        }
    }
}
