:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    line-height: 1.2;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;

}

.sr__only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

%titles {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 700;
}

h1 {
    @extend %titles;
}

h2 {
    @extend %titles;

}

h3 {
    @extend %titles;

}

h4 {
    @extend %titles;

}

h5 {
    @extend %titles;

}

h6 {
    @extend %titles;

}
