/* Colours 
============*/

/* Brand Colours
==================*/

/* Element Colours
====================*/

/* Misc. Colurs
====================*/

/* Fonts
===============*/

/* Transitions
================*/

/* Breakpoints
================*/
$breakpointIphone5: 374px;
$breakpointTablet: 600px;
$breakpointTabletLarge: 800px;
$breakpointDesktop: 1024px;
$breakpointDesktopLarge: 1340px;

/* Padding
================*/
$padding: 10px;